<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .dropdown-menu {
            z-index: 9000;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviePickerInfrastructure</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_darkly.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoviePickerInfrastructure.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 sticky-top" data-bs-theme="dark"> 
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 text-white"> *@
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="MainPage" asp-action="Index" style="color: #f60;">MoviePicker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Movies" asp-action="Index" style="color: #FFF;">@Localizer["movies"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Genres" asp-action="Index" style="color: #FFF;">@Localizer["genres"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Actors" asp-action="Index" style="color: #FFF;">@Localizer["actors"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Directors" asp-action="Index" style="color: #FFF;">@Localizer["directors"]</a>
                        </li>


                        @if (Accessibility.AllExceptUser(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Countries" asp-action="Index" style="color: #FFF;">@Localizer["countries"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Languages" asp-action="Index" style="color: #FFF;">@Localizer["languages"]</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Reviews" asp-action="Index" style="color: #FFF;">@Localizer["reviews"]</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Roles" asp-action="Index" style="color: #FFF;">@Localizer["roles"]</a>
                            </li>
                        }

                        @*  @if (User.IsInRole("Administrator"))
                        {

 *@
                          @*   <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="MoviesGenres" asp-action="Index">@Localizer["moviesGenres"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="MoviesActors" asp-action="Index">@Localizer["moviesActors"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="MoviesLanguages" asp-action="Index">@Localizer["moviesLanguages"]</a>
                            </li>
 *@


                        @* } *@
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["privacy"]</a>
                        </li>

                    </ul>



                   


                    <style>
                        .input-group {
                            display: flex;
                            align-items: center;
                        }

                        .form-control {
                            border-radius: 25px;
                        }

                        .input-group-append {
                            margin-left: -1px;
                        }

                        .btn {
                            border-radius: 25px;
                        }
                    </style>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="input-group">
                                <input id="searchInput" class="form-control rounded-pill" type="search" placeholder="@Localizer["search"]" aria-label="Search" name="q">
                            </div>
                        </li>
                        <li class="nav-item">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <form method="post" class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">
                                    @User.Identity.Name
                                    <input type="submit" value="@Localizer["logout"]" />
                                </form>
                            }
                            else
                            {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["login"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">@Localizer["register"]</a>
                            </li>
                            }

                            
                      @*   </li> *@


                            
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#" onclick="changeLanguage('en-US')">en</a></li>
                                <li><a class="dropdown-item" href="#" onclick="changeLanguage('uk-UA')">uk</a></li>
                               
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/changeLanguage.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script>
   

    document.addEventListener("DOMContentLoaded", function () {
        var searchInput = document.getElementById("searchInput");
        searchInput.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                // Navigate to the desired URL when Enter is pressed
                event.preventDefault(); // Prevents the default form submission
                var searchQuery = searchInput.value.trim();
                if (searchQuery !== "") {
                    window.location.href = "/Movies/Search?q=" + encodeURIComponent(searchQuery);
                }
            }
        });
    });





</script>






