@{
    ViewData["Title"] = "Запит 4";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запит 1</title>
    <style>
        body {
            background-color: black;
            color: white;
            padding-top: 100px; /* Adding padding of 100px at the top */
            font-family: Arial, sans-serif;
        }

        .sentence {
            display: inline;
            font-size: 1.5rem;
        }

        .input-field {
            display: inline;
            margin: 0 10px; /* Adjust margin as needed */
            padding: 0 0 5px 0; /* Remove padding on sides, keep only at the bottom */
            font-size: 1.5rem;
            width: 60px; /* Adjust width as needed */
            text-align: center;
            border: none;
            border-bottom: 2px solid white; /* Underscore line */
            background: none;
            color: white;
            vertical-align: middle; /* Adjust vertical alignment */
            position: relative;
            top: -2px; /* Adjust the value to raise the input field */
        }

            .input-field::placeholder {
                color: white;
                opacity: 0; /* Hide the placeholder text */
            }

        .submit-button {
            display: inline;
            font-size: 1.5rem;
            margin-left: 10px;
            padding: 5px 10px;
            background-color: white;
            color: black;
            border: none;
            cursor: pointer;
        }

            .submit-button:hover {
                background-color: gray;
            }


        .form-group {
            margin-bottom: 15px;
        }

        .form-control {
            font-size: 1rem;
            padding: 0.5rem;
            width: calc(100% - 1rem);
            margin: 0 auto;
            display: block;
            /* background: none; */
            color: white;
            border: 1px solid white;
        }

        .container {
            padding-top: 20px;
        }

    </style>
</head>
<body>

    <form asp-controller="DB_Lab" asp-action="Request4" method="post">
        <div class="form-group">
            <label for="reviewsCount" class="sentence">
                Фільми, в яких кількість відгуків більше за
            </label>
            <input type="number" name="reviewsCount" class="input-field" placeholder="__" maxlength="3" oninput="if (this.value.length > 3) this.value = this.value.slice(0, 3);" required>

            <button type="submit" class="submit-button">Пошук</button>
        </div>
    </form>

    <div>
        <label class="sentence">
            @ViewBag.RequestTextRaw
        </label>
    </div>

    @if (ViewBag.Movies != null)
    {
        <div class="container">
            <div class="row">
                @foreach (var item in ViewBag.Movies)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-truncate"><strong>@item.Title</strong></h5>
                                <div class="d-flex flex-column">
                                    <div class="d-flex mb-3">
                                        <div class="ml-auto">
                                            @if (item.MovieImage != null && item.MovieImage.Length > 0)
                                            {
                                                <img src="data:image;base64,@Convert.ToBase64String(item.MovieImage)" alt="Movie Image" class="image-fit-movie" />
                                            }
                                        </div>
                                        <div>
                                            @* <p class="card-text"><strong>@Localizer["director"]: </strong>@item.Director.Name</p> *@
                                            <p class="card-text"><strong>@Localizer["releaseYear"]:</strong> @item.ReleaseDate.Year</p>
                                            <p class="card-text"><strong>@Localizer["duration"]: </strong>@item.Duration @Localizer["minutes"]</p>
                                            <p class="card-text"><strong>@Localizer["rating"]: </strong>@item.Rating</p>
                                            <p class="card-text"><strong>@Localizer["budget"]: </strong>@item.ShowCash(item.Budget) @Localizer["millions"]</p>
                                            <p class="card-text"><strong>@Localizer["boxOfficeRevenue"]: </strong>@item.ShowCash(item.BoxOfficeRevenue) @Localizer["millions"]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</body>
</html>
