@{
    ViewData["Title"] = "Запит 2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запит 2</title>
    <style>
        body {
            background-color: black;
            color: white;
            padding-top: 100px; /* Adding padding of 100px at the top */
            font-family: Arial, sans-serif;
        }

        .sentence {
            display: inline;
            font-size: 1.5rem;
        }

        .select-field {
            display: inline;
            margin: 0 10px; /* Adjust margin as needed */
            padding: 0 0 5px 0; /* Remove padding on sides, keep only at the bottom */
            font-size: 1.5rem;
            text-align: center;
            border: none;
            border-bottom: 2px solid white; /* Underscore line */
            background: black;
            color: white;
            vertical-align: middle; /* Adjust vertical alignment */
            position: relative;
            top: -2px; /* Adjust the value to raise the select field */
            appearance: none; /* Remove default styling */
        }

        .submit-button {
            display: inline;
            font-size: 1.5rem;
            margin-left: 10px;
            padding: 5px 10px;
            background-color: white;
            color: black;
            border: none;
            cursor: pointer;
        }

            .submit-button:hover {
                background-color: gray;
            }

        .form-group {
            display: flex;
            align-items: center;
        }

        /* Custom arrow for select field */
        .select-field::after {
            content: "▼";
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: white;
        }
    </style>
</head>
<body>
    <form asp-controller="DB_Lab" asp-action="Request2" method="post">
        <div class="form-group">
            <label for="countryId" class="sentence">
                Фільми, в яких грає принаймні один актор, з
            </label>
            <select name="countryId" class="select-field" required>
                <option value=""></option>
                @foreach (var country in ViewBag.Countries)
                {
                    <option value="@country.Value">@country.Text</option>
                }
            </select>
            <button type="submit" class="submit-button">Пошук</button>
        </div>
    </form>

    <div>
        <label class="sentence">
            @ViewBag.RequestTextRaw
        </label>
    </div>


    @if (ViewBag.Movies != null)
    {
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                @foreach (var item in ViewBag.Movies)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-truncate"><strong>@item.Title</strong></h5>
                                <div class="d-flex flex-column">
                                    <div class="d-flex mb-3">
                                        <div class="ml-auto">
                                            @if (item.MovieImage != null && item.MovieImage.Length > 0)
                                            {
                                                <img src="data:image;base64,@Convert.ToBase64String(item.MovieImage)" alt="Movie Image" class="image-fit-movie" />
                                            }
                                        </div>
                                        <div>
                                            <p class="card-text"><strong>@Localizer["releaseYear"]:</strong> @item.ReleaseDate.Year</p>
                                            <p class="card-text"><strong>@Localizer["duration"]: </strong>@item.Duration @Localizer["minutes"]</p>
                                            <p class="card-text"><strong>@Localizer["rating"]: </strong>@item.Rating</p>
                                            <p class="card-text"><strong>@Localizer["budget"]: </strong>@item.ShowCash(item.Budget) @Localizer["millions"]</p>
                                            <p class="card-text"><strong>@Localizer["boxOfficeRevenue"]: </strong>@item.ShowCash(item.BoxOfficeRevenue) @Localizer["millions"]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</body>
</html>
