@model MoviePickerDomain.Model.Genre

@{
    ViewData["Title"] = @Localizer["editing"];
}

<div class="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="page-header">@Localizer["editing"]</h1>
        <a asp-action="Index" class="btn btn-primary rounded-pill">@Localizer["backToList"]</a>
    </div>

    <h4>@Localizer["genre"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"> @Localizer["title"] </label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@Localizer["save"]" class="btn btn-primary rounded-pill" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
