@model MoviePickerDomain.Model.MoviesGenre

@{
    ViewData["Title"] = "Details";
}

<h1>@Localizer["details"]</h1>

<div>
    <h4>@Localizer["moviesGenres"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @*  @Html.DisplayNameFor(model => model.Genre) *@
            @Localizer["genre"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Movie) *@
            @Localizer["movie"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Localizer["edit"]</a> |
    <a asp-action="Index">@Localizer["backToList"]</a>
</div>
