@{
    ViewData["Title"] = "MainPageView";
}

<h1>@ViewData["MoviePicker"]</h1>

<div style="text-align: center; padding: 20px; background-color: #f0f0f0; border-radius: 10px; margin: 20px;">
    <h1 style="color: #FFA07A;">@Localizer["welcome"] 🎥</h1>
    <p style="font-size: 1.2em; color: #333;">
        <strong>@Localizer["1"]</strong> @Localizer["2"]
    </p>
    <p style="font-size: 1.2em; color: #333;">
        @Localizer["3"] <strong>MoviePicker</strong>@Localizer["4"]
    </p>
    <p style="font-size: 1.2em; color: #333;">
        @Localizer["5"] <strong>MoviePicker</strong>@Localizer["6"] <h1> 🍿 </h1>
    </p>
</div>

