@model MoviePickerDomain.Model.Director

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>@Localizer["creation"]</h1>
    <a asp-action="Index" class="btn btn-primary rounded-pill">@Localizer["backToList"]</a>
</div>



<h4>@Localizer["director"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"> @Localizer["nameOfPerson"] </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"> @Localizer["birthDate"] </label>
                <input asp-for="BirthDate" class="form-control" type="date" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthCountryId" class="control-label"> @Localizer["birthCountry"] </label>
                <select asp-for="BirthCountryId" class ="form-control" asp-items="ViewBag.BirthCountryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["create"]" class="btn btn-primary rounded-pill" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
