@model MoviePickerDomain.Model.Director

@{
    ViewData["Title"] = "Delete";
}

<h1>@Localizer["deleting"]</h1>

<h3>@Localizer["deletingQuestion"]</h3>
<div>
    <h4>@Localizer["director"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Name) *@
            @Localizer["nameOfPerson"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.BirthDate) *@
            @Localizer["birthDate"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.BirthCountry) *@
            @Localizer["birthCountry"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthCountry.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["backToList"]</a>
    </form>
</div>
