@* @model MoviePickerDomain.Model.Director *@

@model DirectorViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mr-auto">@Localizer["details"]</h1>
    <div class="ml-auto">
        <a asp-action="Edit" asp-route-id="@Model?.Director.Id" class="btn btn-primary rounded-pill">@Localizer["edit"]</a>
        <a asp-action="Index" class="btn btn-primary rounded-pill">@Localizer["backToList"]</a>
    </div>
</div>


<h4>@Localizer["director"]</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <div class="d-flex align-items-center">
            @if (Model.Director.DirectorImage != null && Model.Director.DirectorImage.Length > 0)
            {
                <img src="data:image;base64,@Convert.ToBase64String(Model.Director.DirectorImage)" alt="Director Image" class="small-image mr-3">
            }
            <div style="padding: 0 10px;">
                <!-- Add padding here -->
                <dl class="row m-0">
                    <dt class="col-sm-5">@Localizer["nameOfPerson"]</dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => model.Director.Name)</dd>
                    <dt class="col-sm-5">@Localizer["birthDate"]</dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => model.Director.BirthDate)</dd>
                    <dt class="col-sm-5">@Localizer["birthCountry"]</dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => model.Director.BirthCountry.Name)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>





<hr />





<table class="table">
    <tr>
        <th>@Localizer["moviesDirected"]</th>
    </tr>
    <tr>
        <td>
            <div class="row">
                @foreach (var movie in Model.MoviesDirected)
                {
                    <div class="col-md-4 mb-3">
                        <a asp-action="MovieInfo" asp-route-movieId="@movie.Id" class="card-link">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@movie.Title</h5>

                                </div>

                            </div>
                        </a>
                    </div>
                }
            </div>
        </td>
    </tr>
</table>