@* @model MoviePickerDomain.Model.Director *@

@model DirectorViewModel

@{
    ViewData["Title"] = @Localizer["details"];
}

<div class="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="page-header" class="mr-auto">@Localizer["details"]</h1>
        <div class="ml-auto">
            @if (Accessibility.AllExceptUser(User))
            {
                <a asp-action="Edit" asp-route-id="@Model?.Director.Id" class="btn btn-primary rounded-pill">@Localizer["edit"]</a>
            }
            <a asp-action="Index" class="btn btn-primary rounded-pill">@Localizer["backToList"]</a>
        </div>
    </div>


    <h4>@Localizer["director"]</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                @if (Model.Director.DirectorImage != null && Model.Director.DirectorImage.Length > 0)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(Model.Director.DirectorImage)" alt="Director Image" class="small-image mr-3">
                }
                <div style="padding: 0 10px;">

                    <dl class="row m-0">
                        <dt class="col-sm-5"><strong>@Localizer["nameOfPerson"]</strong></dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.Director.Name)</dd>
                        <dt class="col-sm-5"><strong>@Localizer["birthDate"]</strong></dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.Director.BirthDate)</dd>
                        <dt class="col-sm-5"><strong>@Localizer["birthCountry"]</strong></dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.Director.BirthCountry.Name)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <table class="table">
        <tr>
            <th style="font-size: 1.2em; font-weight: bold;">@Localizer["moviesDirected"]</th>
        </tr>
        <tr>
            <td>
                <div class="row">
                    @foreach (var movie in Model.MoviesDirected)
                    {
                        <div class="col-md-4 mb-3">
                            <a asp-action="MovieInfo" asp-route-movieId="@movie.Id" class="card-link">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@movie.Title</h5>

                                    </div>

                                </div>
                            </a>
                        </div>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>