@model IEnumerable<MoviePickerDomain.Model.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["titleActors"]</h1>

<p>
    <a asp-action="Create">@Localizer["createNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @*  @Html.DisplayNameFor(model => model.Name) *@
               @Localizer["nameOfPerson"]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.BirthDate) *@
                @Localizer["birthDate"]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.BirthCountry) *@
                @Localizer["birthCountry"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthCountry.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="container">
    <div id="chart1"></div>
</div>
@section scripts {
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonActorsData', function (JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення кількості фільмів та акторів",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}