@model IEnumerable<MoviePickerDomain.Model.Actor>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>@Localizer["titleActors"]</h1>
    <a asp-action="Create" class="btn btn-primary rounded-pill">@Localizer["createNew"]</a>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body d-flex">
                    <div>
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@Localizer["age"]: @item.GetYears()</p>
                        <p class="card-text">@Localizer["birthCountry"]: @item.BirthCountry.Name</p>

                        <div class="btn-group" role="group" aria-label="Actions">
                            <a class="btn btn-primary rounded-pill mr-1" asp-action="Edit" asp-route-id="@item.Id">@Localizer["edit"]</a>
                            <a class="btn btn-secondary rounded-pill mr-1" asp-action="Details" asp-route-id="@item.Id">@Localizer["details"]</a>
                            <a class="btn btn-danger rounded-pill" asp-action="Delete" asp-route-id="@item.Id">@Localizer["delete"]</a>
                        </div>
                    </div>

                    <div class="image-container ml-auto">
                        @if (item.ActorImage != null && item.ActorImage.Length > 0)
                        {
                            <img src="data:image;base64,@Convert.ToBase64String(item.ActorImage)" alt="Actor Image" class="image-fit">
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>




<div class="container">
    <div id="chart1"></div>
</div>
@section scripts {
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonActorsData', function (JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var options = {
                    title: "Співвідношення кількості фільмів та акторів",
                    width: 500,
                    height: 400,
                    backgroundColor: 'transparent',
                    titleTextStyle: {
                        color: '#FF6347'
                    },
                    legend: {
                        textStyle: {
                            color: 'white'
                        }
                    }
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, options);
            })
        }
    </script>
}