@using Microsoft.AspNetCore.Identity
@model ChangeRoleViewModel

<div class="content">
    <h2 class="mr-auto">@Localizer["roleChangingFor"] @Model.UserEmail</h2>
    <div class="ml-auto">
        <a asp-action="Index" class="btn btn-primary rounded-pill">@Localizer["backToList"]</a>
    </div>
</div>


<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)//.Where(r => r.Name != "super_admin"))
        {
            @* <input type="checkbox" name="roles" value="@role.Name"
            @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")
            @(User.IsInRole("super_admin") ? "readonly" : "") /> @role.Name <br /> *@

            <input type="checkbox" name="roles" value="@role.Name"
            @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")

            @(User.IsInRole("admin") && role.Name == "admin" ? "disabled" : "")
            @(User.IsInRole("user") ? "disabled" : "")
            @(role.Name == "super_admin" ? "disabled" : "") />
            @role.Name <br />
        }
    </div>

    @if (!User.IsInRole("user"))
    {
        <button type="submit" class="btn btn-primary">@Localizer["save"]</button>
    }
</form>
</div>

