@model MoviePickerDomain.Model.Review

@{
    ViewData["Title"] = "Delete";
}

<h1>@Localizer["deleting"]</h1>

<h3>@Localizer["deletingQuestion"]</h3>
<div>
    <h4>@Localizer["review"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Title) *@
            @Localizer["title"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Text) *@
            @Localizer["text"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Rating) *@
            @Localizer["rating"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["delete"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["backToList"]</a>
    </form>
</div>
