@* @model ﻿MoviePickerDomain.Model.Movie *@
@model MovieViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>@Localizer["creation"]</h1>
    <a asp-action="Index" class="btn btn-primary rounded-pill">@Localizer["backToList"]</a>
</div>


<h4>@Localizer["movie"]</h4>
<hr />

<div class="row">

 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tag Input Example</title>
  <link rel="stylesheet" href="~/css/site.css">
</head>

    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"> @Localizer["title"] </label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Genres" class="control-label"> @Localizer["genres"] </label>
                <select asp-for="Genres" class="form-control" asp-items="ViewBag.GenreId" multiple="multiple"></select>
            </div>


            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"> @Localizer["releaseDate"] </label>
                <input asp-for="Movie.ReleaseDate" class="form-control" type="date" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.DirectorId" class="control-label"> @Localizer["director"] </label>
                <select asp-for="Movie.DirectorId" class="form-control" asp-items="ViewBag.DirectorId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Actors" class="control-label"> @Localizer["actors"] </label>
                <select asp-for="Actors" class="form-control" asp-items="ViewBag.ActorId" multiple="multiple"></select>
            </div>


            <div class="form-group">
                <label asp-for="Languages" class="control-label"> @Localizer["languages"] </label>
                <select asp-for="Languages" class="form-control" asp-items="ViewBag.LanguageId" multiple="multiple"></select>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Budget" class="control-label"> @Localizer["budget"] </label>
                <input asp-for="Movie.Budget" class="form-control" />
                <span asp-validation-for="Movie.Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.BoxOfficeRevenue" class="control-label"> @Localizer["boxOfficeRevenue"] </label>
                <input asp-for="Movie.BoxOfficeRevenue" class="form-control" />
                <span asp-validation-for="Movie.BoxOfficeRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Duration" class="control-label"> @Localizer["duration"] </label>
                <input asp-for="Movie.Duration" class="form-control" />
                <span asp-validation-for="Movie.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Rating" class="control-label"> @Localizer["rating"] </label>
                <input asp-for="Movie.Rating" class="form-control" />
                <span asp-validation-for="Movie.Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.MovieImage" class="control-label"> @Localizer["movieImage"] </label>
                <input type="file" name="MovieImage" accept="image/*" class="form-control" />
                <span asp-validation-for="Movie.MovieImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@Localizer["create"]" class="btn btn-primary rounded-pill" />
            </div>
        </form>
    </div>
</div>


<script src="multi-select-dropdown.js"></script>

