
 @model MovieViewModel

@{
    ViewData["Title"] = @Localizer["details"];
}

<div class="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="page-header" class="mr-auto">@Localizer["details"]</h1>
        <div class="ml-auto">
            @if (Accessibility.AllExceptUser(User))
            {
                <a asp-action="Edit" asp-route-id="@Model?.Movie.Id" class="btn btn-primary rounded-pill">@Localizer["edit"]</a>
            }
            <a asp-action="Index" class="btn btn-primary rounded-pill">@Localizer["backToList"]</a>
        </div>
    </div>


    <h4><strong>@Model.Movie.Title</strong></h4>
    <hr />


    <div class="d-flex flex-column">
        <div class="d-flex mb-3">
            <div class="mr-3">
                @if (Model.Movie.MovieImage != null && Model.Movie.MovieImage.Length > 0)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(Model.Movie.MovieImage)" alt="Movie Image" class="image-fit" style="max-width: 350px;">
                }
            </div>
            <div>
                <p class="card-text"><strong>@Localizer["director"]:</strong> @Model.Movie.Director.Name</p>
                <p class="card-text"><strong>@Localizer["releaseDate"]:</strong> @Model.Movie.ReleaseDate</p>
                <p class="card-text"><strong>@Localizer["duration"]:</strong> @Model.Movie.Duration @Localizer["minutes"]</p>
                <p class="card-text"><strong>@Localizer["rating"]:</strong> @Model.Movie.Rating</p>
                <p class="card-text"><strong>@Localizer["budget"]:</strong> @Model.Movie.ShowCash(Model.Movie.Budget) @Localizer["millions"]</p>
                <p class="card-text"><strong>@Localizer["boxOfficeRevenue"]:</strong> @Model.Movie.ShowCash(Model.Movie.BoxOfficeRevenue) @Localizer["millions"]</p>
                <p class="card-text"><strong>@Localizer["description"]:</strong> @Model.Movie.Description</p>

            </div>
        </div>



        <table class="table">
            <tr>
                <th style="font-size: 1.2em; font-weight: bold;">@Localizer["genres"]</th>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        @foreach (var genre in Model.Genres)
                        {
                            <div class="col-md-4 mb-3">
                                <a asp-action="MoviesByGenre" asp-route-genreId="@genre.Id" class="card-link">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">@genre.Name</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>


        <table class="table">
            <tr>
                <th style="font-size: 1.2em; font-weight: bold;">@Localizer["director"]</th>
            </tr>
            <tr>
                <td>
                    <a asp-action="DirectorInfo" asp-route-directorId="@Model.Movie.DirectorId" class="card-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Movie.Director!.Name</h5>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        </table>


        <table class="table">
            <tr>
                <th style="font-size: 1.2em; font-weight: bold;">@Localizer["actors"]</th>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        @foreach (var actor in Model.Actors)
                        {
                            <div class="col-md-4 mb-3">
                                <a asp-action="ActorInfo" asp-route-actorId="@actor.Id" class="card-link">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">@actor.Name</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>


        <table class="table">
            <tr>
                <th style="font-size: 1.2em; font-weight: bold;">@Localizer["languages"]</th>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        @foreach (var language in Model.Languages)
                        {
                            <div class="col-md-4 mb-3">
                                <a asp-action="MoviesByLanguage" asp-route-languageId="@language.Id" class="card-link">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">@language.Name</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>


        <table class="table">
            <tr>
                <th style="font-size: 1.2em; font-weight: bold;">@Localizer["reviews"]</th>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        @foreach (var review in Model.Reviews)
                        {
                            <div class="col-md-4 mb-3">
                                <a asp-action="ShowReviewInfo" asp-route-reviewId="@review.Id" class="card-link">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title"><strong>@review.Title</strong> @(review.Rating)/10</h5>
                                            <p class="card-text">@review.Text</p>
                                            <small class="text-muted">@review.CreationTime.ToString()</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>

</div>