@model IEnumerable<MoviePickerDomain.Model.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["movies"] </h1>

<p>
    <a asp-action="Create">@Localizer["createNewMovie"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Title) *@
                @Localizer["title"]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.ReleaseDate) *@
                @Localizer["releaseDate"]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Budget) *@
                @Localizer["budget"]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.BoxOfficeRevenue) *@
                @Localizer["boxOfficeRevenue"]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Duration) *@
                @Localizer["duration"]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Rating) *@
                @Localizer["rating"]
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Director) *@
                @Localizer["director"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxOfficeRevenue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>