@model IEnumerable<MoviePickerDomain.Model.Language>

@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["languages"]</h1>

<p>
    <a asp-action="Create">@Localizer["createNewLanguage"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Name) *@
                @Localizer["title"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
